
<!-- views/contacts/index.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %> <!-- 1 -->
  </head>
  <body>
    <%- include('../partials/nav') %> <!-- 2 -->
    <div class="contact contact-index">
      <h2>Index</h2>
      <ul>
        <% var len = rows.length; %>
        <% for(var i =0; i < len; i++){ %>
        <li>
          <%= rows[i].name %> <%= rows[i].phone %> <%= rows[i].email %>
        </li>
        <% }; %>
      </ul>
    </div>
  </body>
</html>
